bin
build
dist
include
lib
venv
*.pyc
*.swp
*.egg-info
*.egg/*
*.eggs/*
*~

# Database files
*.sqlite3
*.db
*.json

# Sphinx docs
docs/_build/

# IntelliJ
.idea
*.iml

examples/settings.py
examples/ubuntu_dialogs*
.env
.out
venv*

# MP3 files (audio)
*.mp3

# Pretrained models
*/pretrained_model/model.ckpt*.data*
